attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
constantly==15.1.0
Flask==1.0.2
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
obfsproxy==0.2.13
pycrypto==2.6.1
PyHamcrest==1.9.0
pyptlib==0.0.6
PyYAML==3.13
requests==2.20.1
six==1.11.0
Twisted==18.9.0
urllib3==1.24.1
Werkzeug==0.14.1
wikipedia==1.4.0
zope.interface==4.6.0
